@import "/src/assets/scss/variables";

.surface-card {
    position: absolute; 
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.test {
    background: $yellow;
    &:hover {
        background: $duck-green;
    }
}