<p-card [routerLink]="['/info-module', {name: moduleKey}]">
    <ng-template pTemplate="header">
        <div class="title">{{cardTitle}}</div>
    </ng-template>
    <ng-template pTemplate="content">
        <p class="center">
            <em>Prévu le : </em>
            01/04/2022
        </p>
        <div class="flex">
            <p class="center">
                <em>Durée : </em>
                {{cardDuration}}
            </p>
            <aside>
                <p class="in-progress">
                    Etat
                </p>
            </aside>
        </div>
    </ng-template>
</p-card>