@import "/src/assets/scss/variables";

p-card{
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 0;
    border: 1px solid $beige;
    border-radius: 5px;
    .title{
        text-align: center;
        margin:0;
        color: $blue;
        background-color: $pale-turquoise-blue;
        padding: 0.5em 0;
        font-size: 1.2rem;
    }
    .in-progress {
        background: $green;
    }
    .close {
        background: $red;
    }
    .coming {
        background: $yellow;
    }
    .flex{
        justify-content: space-between;
        align-items: center;
    }
    aside p{
        padding: 0.5em;
        border-radius: 10px;
    }
    p{
        margin: 0;
    }
}
