<p-card>
    <ng-template pTemplate="header">
        <div class="title">Nom module</div>
    </ng-template>
    <ng-template pTemplate="content">
        <p class="center">
            <em>Prévu le : </em>
            01/04/2022
        </p>
        <div class="flex">
            <p class="center">
                <em>Durée : </em>
                2h
            </p>
            <aside>
                <p class="in-progress">
                    Etat
                </p>
            </aside>
        </div>
    </ng-template>
</p-card>