@import "/src/assets/scss/variables";

:host ::ng-deep {
    &.navigation-tabs {

        .p-tabview-nav {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            background-color: $pale-turquoise-blue;
            li {
                width: 100%;
                span {
                    margin-left: auto;
                    margin-right: auto;
                }
                .p-tabview-nav-link {
                    // Tab background color
                    background: $blue;
                }
                &:not(.p-highlight):not(.p-disabled){
                    &:hover .p-tabview-nav-link {
                        // Hovered tab BG, border and text color
                        background: $duck-green;
                        border-color: $duck-green;
                        color: $white;
                    }
                }
                &:not(.p-highlight) a {
                    // Text color of unselected tab
                    color: $light-blue;
                }
                &.p-highlight a {
                    // Text and border color of selected tab
                    background-color: $duck-green;
                    border-color: $light-blue;
                    color: $white;
                }
            }
        }
    }
}