<nav class="navigation-tabs">
    <p-tabView>
        <p-tabPanel [header]="tabTitle1">
            Content 1   <!--TODO: Dynamically add the views for sessions/modules infos -->
        </p-tabPanel>
        <p-tabPanel [header]="tabTitle2[0]">
            <app-module-list></app-module-list> <!--TODO: Dynamically change the views for sessions/modules list -->
        </p-tabPanel>
        <p-tabPanel [header]="tabTitle2[1]">
            <!--<dashboard-calendar></dashboard-calendar>   <!--TODO: Dynamically add the views for sessions/modules planning -->
        </p-tabPanel>
    </p-tabView>
</nav>