
<div class="main">
    <div class="logos">
        
        <a target="_blank" href="https://www.facebook.com/logiciel.form.dev/"><img src="../../assets/logo/facebook.png"/></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCj5a3rJoYizE4sm8_3Clukw"><img src="../../assets/logo/youtube.png"/></a>
        <a target="_blank" href="https://fr.linkedin.com/company/form-dev?original_referer=https%3A%2F%2Fwww.google.com%2F"><img src="../../assets/logo/linkedin.png"/></a>
    </div>
</div>
