@import "/src/assets/scss/variables";

.liste {
    margin: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 9px 7px;
    border: 0px solid $blue;
    border-radius: 10px;
}

.nom-liste-des-participants{
    border: 1px solid $blue;
    border-top: 10px;
    background-color: $blue;
    color: $white;
    text-align: center;
    font-size: 25px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
}

.container{
    padding: 10px;
}

.buttons{
    float:right;
    margin-right: 50px;
    button{
        font-size: initial;
    }
}

img{
    width: 50px;
    height: 50px;
}

.mail, .absent{
    border-radius: 20px;
    color: $white;
    border-style : none;
}

.mail{
    background-color: $yellow;
}

.absent{
    background-color: $red;
    padding-left: 10px;
    padding-right: 10px;
}

ul{
    list-style-type: none;
}

li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(197, 196, 196);
    align-items: center;
}

.eleve{
    color: $white;
    padding: 15px;
    font-size: 20px;
}
.eleve.blue{
    color: $blue;
}

.modal-body{
    background-color: $blue;
}

.envoie-mail, .mettre-absent{
    text-align: center;
    color: $white;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid $beige;
    font-size: 30px;
    align-items: center;
}
.modal-body ul{
    padding:0;
}

.modal-body li{
    border:none;
}

.checkbox{
    width:30px;
    margin-top: 0px;
}

button{
    max-width: 20rem;
    background-color: $yellow;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    
}

.buttonsPad{
    display: flex;
    justify-content: space-between;
    button.clear{
        background-color: $beige;
        margin-right: 10px;
    }
    button.send{
        background-color: $green;
    }    
}

.roundRed{
    border-radius: 50%;
    background-color: $red;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span#pr_id_1-label{
    text-align: center;
}
