form {

    margin-top: 150px;
    
};
h5 {
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    text-align: center;
    padding: 15px;
    background-color: #3F93D2;
    border-radius: 2px;
};

input {
    border-right: 1px;
};

button {
    width: 10%;
    background-color: #1FAD39;
    width: 100%;
    border: 1px;
    color: white;
    border-radius: 2px;
}

.border-form {
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.form-control {
    margin-right: 15px;
}
